.hero {
  height: calc(100dvh - var(--header-size));
}

.hero__content {
  width: 100%;
  padding: 2rem 0;
}

.hero__content h1.heading {
  margin-top: 0;
}

.hero__content p.rich-text {
  font-size: var(--font-size-l);
}
