@use "@allondeveen-portfolio/ui/mixins" as ui;

.icons-block {
  position: relative;
}

.icons-block .icons {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  width: fit-content;
  margin: 3rem 0;
  border-radius: 4px;
  overflow: hidden;
}

.icons-block .icons .icon {
  display: block;
  border-radius: 0;
}

.icons-block .icon-tooltip {
  @include ui.tooltip-base;
  top: anchor(bottom);
  left: anchor(center);
  pointer-events: none;
}

.icons-block .icons + .icons-block .icons {
  margin-top: 1rem;
}

.icons-block .icons:has(+ .icons-block .icons) {
  margin-bottom: 1rem;
}

@media (max-width: 832px) {
  .icons-block .icons {
    width: 400px;
    max-width: 100%;
  }

  .icons-block .icons .icon {
    width: 100%;
  }
}
