:root {
  --header-size: 6rem;
}

.site_header {
  height: var(--header-size);
  font-size: var(--font-size-l);
}

.site_header .container {
  width: 100%;
}

.grid-item:first-child .rich-text {
  margin: 0;
}

.grid-item:first-child .rich-text a {
  font-size: var(--font-size-h5);
}

@media (max-width: 1230px) {
  .site_header {
    padding: 0 1rem;
  }
}
