.icon {
  position: relative;
  display: inline-block;
  line-height: 1.6;
  cursor: help;
  padding: 0.75rem;
  border-radius: 4px;
}

.icon .tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  margin-top: 0.5rem;

  width: max-content;
  max-width: 250px;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  font-family: var(--font-heading);
  white-space: nowrap;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.icon:hover .tooltip {
  opacity: 1;
}

.icon svg.icon-figure {
  width: var(--font-size-l);
  height: var(--font-size-l);
  line-height: 1.6;
  display: block;
}
