.container {
  padding-left: 4rem;
  padding-right: 4rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

  &.vertical {
    flex-direction: column;
  }
}

.inline {
  display: flex;
  align-items: center;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1230px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
