@use "./mixins.scss" as mixins;

.block {
  --margin: 5rem;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

.block:first-child {
  margin-top: 0;
}

.block:first-child:last-child {
  margin-bottom: 0;
}

.sr-only {
  @include mixins.sr-only;
}
